public-hoist-pattern[]=@popperjs*
public-hoist-pattern[]=@ctrl*
public-hoist-pattern[]=lodash*
public-hoist-pattern[]=@element-plus*
public-hoist-pattern[]=dayjs*
public-hoist-pattern[]=@vue*
public-hoist-pattern[]=@floating-ui*
public-hoist-pattern[]=normalize-wheel-es
public-hoist-pattern[]=async-validator
public-hoist-pattern[]=memoize-one
public-hoist-pattern[]=escape-html
public-hoist-pattern[]=vue-demi
