{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "safari >= 7"
          ],
          "node": "8.10"
        },
        "modules": false,
        "debug": false,
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-private-property-in-object",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-private-methods",
      {
        "loose": true
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
