@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

.text-box {
  padding: 10px 20px;
}

.text-box>span {
  font-size: 30pt;
}

.text-box .fas {
  margin-right: 10px;
  font-size   : 30pt;
}
