:root {
  background-color: #000;
}

html,
body {
  margin: 0;
  height: 100%;
}

#app {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    &.horizontal {
      flex-direction: row;
    }
  }
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #7474743b;
}

*::-webkit-scrollbar-thumb {
  background-color: #7474743b;
  border-radius: 20px;
  border: 3px solid #7474743b;
}
