.props {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  padding: 20px 10px;

  &>div {
    &>textarea {
      resize: none;
      width: 30em;
      height: 30em;
      overflow-y: auto;
    }

    &.arrow {
      font-weight: bold;
      font-size: 30px;
      display: flex;
      align-items: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    .form-field {
      &>.label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 4px;
        font-size: smaller;

        &>div {
          width: 4em;
          text-align: right;

          &::after {
            content: ":";
          }
        }

        .radio-group,
        .checkbox-group {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          flex-wrap: wrap;
          gap: 0px 3px;
        }

        input[type=text],
        input[type=number],
        select {
          padding: 8px 10px;
          outline: none;
          width: 20em;
        }

        input[type=radio],
        input[type=checkbox] {
          scale: 1.2;
          outline: none;
        }

        textarea {
          resize: none;
          padding: 8px 10px;
          width: 20em;
          height: 10em;
        }
      }
    }
  }
}
