
i, b, em {
    font-style: normal;
}

.circle-border {
    border: 2px solid;
    padding: 3px 3px 3px 4px;
    font-size: smaller;
    border-radius: 100%;
    top: 0 !important;
}

.center-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
}

.gray-bordered {
    border-color: #ccc !important;
}