.wrapper {
  display: flex;

  .layout-left-pane {
    width: 10vw;
  }

  .container {
    flex: 1;
    margin: _vars.$commonMargin;
    border: 1px solid #56555574;
    padding: 1vh 0.5vw;
    min-height: 10vh;
  }
}
