
body, input, button {
    font-family: Helvetica, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei UI", SimSun, SimHei, arial, sans-serif;
    font-size: 14px;
    color: #696969;
}

.m-l-md {
    margin-left: 20px;
}

.form {
    margin: 0 30px;
}

.form .form-field {
    margin: 15px 0;
}

.form .form-field:after {
    content: '';
    display: block;
    clear: both;
}

input {
    padding: 3px 5px;
}

button {
    padding: 5px 10px;
}

div#support {
    margin: 20px 0 0 50px;
    font-weight: bold;
    font-size: 16px;
}

div .info {
    color: #32cd32;
}

div .error {
    color: #dc143c;
}