/* 更小的开关组件样式 */
.switch-sm,.form-group-sm .switch {
    height: 20px!important;
    width: 42px!important;
}

.switch-sm small,.form-group-sm .switch small {
    height: 20px!important;
    width: 20px!important;
}

.form-group .switch {
    margin-top: 4px;
}