<header>
  <app-widget-breadcrumb [levels]="breadcrumbLevels" [dark-mode]="true"></app-widget-breadcrumb>
</header>
<main class="container">
  <app-widget-card>
    <app-widget-card-header [dark-mode]="true">Card Component Header</app-widget-card-header>
    <app-widget-card-body>
      <div class="row">
        <form (submit)="display()" class="form col">
          <div class="form-group row">
            <label class="col-form-label col-2 text-right">Name: </label>
            <input type="text" class="form-control col-8" name="name" [(ngModel)]="user.name"
                   placeholder="Please input your name">
          </div>
          <div class="form-group row">
            <label class="col-form-label col-2 text-right">Gender: </label>
            <div class="row col-8">
              <div class="form-check-inline">
                <input type="radio" class="form-check-input" name="gender" value="M"
                       [(ngModel)]="user.gender">
                <label class="form-check-label">Male</label>
              </div>
              <div class="form-check-inline">
                <input type="radio" class="form-check-input" name="gender" value="F"
                       [(ngModel)]="user.gender">
                <label class="form-check-label">Female</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-2 text-right">Role: </label>
            <select name="role" class="form-control col-8" [(ngModel)]="user.role">
              <option value="STUDENT">Student</option>
              <option value="TEACHER">Teacher</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-2 text-right">Remark: </label>
            <textarea name="remark" class="form-control col-8" [(ngModel)]="user.remark"></textarea>
          </div>
          <div class="row">
            <button class="btn btn-dark offset-2" type="submit">Confirm</button>
          </div>
        </form>
        <div class="col">
          <pre class="hljs json"></pre>
        </div>
      </div>
    </app-widget-card-body>
    <app-widget-card-footer [dark-mode]="true">Card Component Footer</app-widget-card-footer>
  </app-widget-card>
</main>
