
.mono {
    font-family: monospace;
}

.result {
    padding: 10px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    font-weight: bold;
}

.form {
    margin-top: 20px;
}

.control-label {
    text-align: right;
}

.btn-bar {
    margin-top: 40px;
}

.tab-content {
    border-top: none;
}