@charset "UTF-8";
@import "~highlight.js/styles/androidstudio.css";

.form-group {
  label {
    text-align: right;

    &.asterisk:before {
      content: '*';
      color: #b01823;
    }

    &.date-split {
      margin-left: 5px;
      margin-right: 5px;
      color: #949494;
    }
  }
}

.hljs {
  &.json {
    height: 100%;
  }
}