@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  a {
    @apply text-blue-500
  }
}

@font-face {
  font-family        : Inter var;
  font-weight        : 100 900;
  font-display       : swap;
  font-style         : normal;
  font-named-instance: "Regular";
  src                : url(asset/Inter-roman-latin.var.woff2) format("woff2")
}

@font-face {
  font-family : Source Sans Pro;
  font-style  : normal;
  font-weight : 400;
  font-display: swap;
  src         : url(asset/SourceSansPro-Regular.otf) format("opentype")
}

@font-face {
  font-family: Ubuntu Mono;
  font-weight: 700;
  font-style : normal;
  src        : url(asset/Ubuntu-Mono-bold.woff2) format("woff2")
}
