<!DOCTYPE html>
<html lang="en" xmlns:app="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="robots" content="index, follow">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Form</title>
</head>
<body>
<div id="app" role="main" app:name="form.index">
    <header>
        <breadcrumb :previous="[{name:'Home', href:'/www/'}]"></breadcrumb>
    </header>

    <main class="container">
        <div class="site">
            <h4>Vee Validate:</h4>
            <p><a href="https://baianat.github.io/vee-validate/" class="text-info">https://baianat.github.io/vee-validate/</a>
            </p>
        </div>

        <validation-observer v-slot="{ handleSubmit, valid}">
            <div class="card">
                <div :class="['card-header', {'bg-success': submit, 'bg-primary': valid, 'bg-danger': !valid}, 'text-white']">
                    <strong>Personal Registration</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <form class="form col" @submit.prevent="handleSubmit(onSubmit)">
                            <div class="form-group">
                                <validation-provider name="name" rules="name" v-slot="{ errors }">
                                    <div class="row">
                                        <label class="col-form-label col-3 asterisk">Name:</label>
                                        <input type="text"
                                               :class="['form-control', 'col-9']"
                                               name="name" placeholder="Please input your name" v-model="form.name">
                                    </div>
                                    <transition name="fade">
                                        <small v-if="errors.length" class="offset-3 text-danger">{{ errors[0] }}</small>
                                    </transition>
                                </validation-provider>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-3 asterisk">Gender:</label>
                                <div class="row col-9">
                                    <div class="form-check-inline">
                                        <input type="radio" class="form-check-input" name="gender" value="M"
                                               v-model="form.gender">
                                        <label class="form-check-label">Male</label>
                                    </div>
                                    <div class="form-check-inline ml-2">
                                        <input type="radio" class="form-check-input" name="gender" value="F"
                                               v-model="form.gender">
                                        <label class="form-check-label">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-3 asterisk">Birthday:</label>
                                <select name="birthday.year" class="form-control col-2" required
                                        v-model.number="form.birthday.year">
                                    <option v-for="year in 60">{{year + (now.getFullYear() - 60)}}</option>
                                </select>
                                <label class="col-form-label date-split">/</label>
                                <select name="birthday.year" class="form-control col-2" required
                                        v-model.number="form.birthday.month">
                                    <option v-for="month in 12">{{month}}</option>
                                </select>
                                <label class="col-form-label date-split">/</label>
                                <select name="birthday.year" class="form-control col-2" required
                                        v-model.number="form.birthday.date">
                                    <option v-for="date in lastMonthDay">{{date}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <validation-provider name="hobbies" rules="hobbies" v-slot="{ errors }">
                                    <div class="row">
                                        <label class="col-form-label col-3">Hobbies:</label>
                                        <div class="row col-9">
                                            <div class="form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="hobbies"
                                                       value="READING"
                                                       v-model="form.hobbies">
                                                <label class="form-check-label">Reading</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="hobbies"
                                                       value="COOKING"
                                                       v-model="form.hobbies">
                                                <label class="form-check-label">Cooking</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="hobbies"
                                                       value="SPORTING"
                                                       v-model="form.hobbies">
                                                <label class="form-check-label">Sporting</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="hobbies"
                                                       value="TRAVEL"
                                                       v-model="form.hobbies">
                                                <label class="form-check-label">Travel</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="hobbies"
                                                       value="GARDENING"
                                                       v-model="form.hobbies">
                                                <label class="form-check-label">Gardening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <transition name="fade">
                                        <small v-if="errors.length > 0" class="offset-3 text-danger">
                                            {{ errors[0] }}
                                        </small>
                                    </transition>
                                </validation-provider>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-3">Remark:</label>
                                <textarea class="form-control col-9" rows="4" name="remark"
                                          v-model="form.remark"></textarea>
                            </div>
                            <div class="row">
                                <button class="btn btn-dark offset-3">Submit</button>
                            </div>
                        </form>
                        <div class="col">
                            <pre class="hljs json">{{formJson}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </validation-observer>
    </main>
</div>
</body>
</html>