:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

nav.menu {
  background-color: #213547;
  padding: 10px 20px;
}

nav.menu>.menu-bar {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-items: center;
}

nav.menu>.menu-bar>li {
  margin-right: 3px;
}

nav.menu>.menu-bar>li>a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #0d2b47;
  color: #f9f9f9;
  text-transform: uppercase;
}

nav.menu>.menu-bar>li>a.active {
  background-color: #13416c;
}

nav.menu>.menu-bar>li>a:hover {
  background-color: #193957;
}

.container {
  margin: 10px 5px;
  padding: 5px 5px;
  background-color: #5c5b5b;
  border-radius: 10px;
}

.form {
  padding: 10px 20px;
}

.form .form-row {
  display: flex;
  align-items: baseline;
  padding: 6px 0;
}

.form .form-label {
  font-size: smaller;
  margin-right: 10px;
  width: 4em;
  text-align: right;
}

.form .radio-label {
  font-size: smaller;
  margin-right: 10px;
  margin-left: 3px;
}

.form input[type=text],
select {
  padding: 8px 15px;
  border-radius: 5px;
  border: 0;
}

.form option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
}

.form .button-row {
  margin-top: 20px;
  padding-left: 62px;
}

.form .button-row button {
  padding: 5px 10px;
  font-size: medium;
  font-weight: 600;
}

.content-pane {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 20px;
}

.storage-info {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-size: smaller;
}

.storage-info .title {
  font-weight: 600;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #8b8b8b;
  word-break: break-all;
  white-space: nowrap;
  min-width: 100px;
  text-align: left;
  padding: 3px 8px;
  font-size: smaller;
}

thead th {
  text-align: center;
}

.storage-event {
  font-size: smaller;
}

.cookie-list th:first-child {
  width: 20vh;
}

.cookie-list th:nth-child(2) {
  width: 80vh;
}

.not-support {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  color: #e65050;
}

.tips {
  opacity: 1;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #87876a;
  color: #fff;
  position: relative;
  transition: opacity .3s ease-out;
}

.tips.error {
  background-color: #633636;
}

.tips.hide {
  opacity: 0;
}

.tips .close {
  display: block;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translate(0, -50%);
}

.tips .close a {
  padding: 8px;
  color: #d7d5d5;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}

.query-method {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  font-size: smaller;
}

.query-method input[type=radio] {
  margin-left: 30px;
}

.timer-ticket {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.timer-ticket .hours,
.timer-ticket .minutes,
.timer-ticket .seconds {
  display: flex;
  align-items: center;
}

.timer-ticket .hours div,
.timer-ticket .minutes div,
.timer-ticket .seconds div {
  width: 3vh;
  height: 3vh;
  border: 1px solid #34333330;
}

.timer-ticket .hours div {
  background: #a63f3b;
}

.timer-ticket .hours span {
  color: #9e1511;
  padding-left: 10px;
  font-weight: 600;
}

.timer-ticket .minutes div {
  background: #25a141;
}

.timer-ticket .minutes span {
  color: #079228;
  padding-left: 10px;
  font-weight: 600;
}

.timer-ticket .seconds div {
  background: #484da1;
}

.timer-ticket .seconds span {
  color: #1f269e;
  padding-left: 10px;
  font-weight: 600;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
