* {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10vh;

  .logo {
    width: 400px;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      margin-left: 20px;

      a {
        padding: 10px 20px;
        border: 1px solid #4ed69d;
        text-decoration: none;
        color: #4ed69d;

        &:hover {
          background-color: #4ed69d;
          color: #fff;
        }
      }
    }
  }
}

.input-bar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  justify-items: baseline;

  label {
    margin-right: 10px;
    padding: 10px;
  }

  input[type=text] {
    padding: 10px 10px;
    width: 100px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
  }
}
