<!DOCTYPE html>
<html ng-app="memoApp">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Service</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
<div class="container" role="main">
    <div class="row">
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Memo List</div>
                </div>
                <div class="panel-body" ng-controller="MemoAddModalController">
                    <button class="btn btn-primary btn-sm" ng-click="open()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addModal.html">
    <div class="modal-header">
        <h5 class="modal-title">Add new memo</h5>
    </div>
    <div class="modal-body">
        <form class="container-fluid form-horizontal">
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-2">Content: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="memoContent">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-2">Content: </label>
                <div class="col-sm-10">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="checkbox">

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="asset/js/memo.js"></script>
</body>
</html>