<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Require.js Demo</title>

    <link href="css/vendor/vendor.css" rel="stylesheet">
    <link href="css/common/common.css" rel="stylesheet">
    <link href="css/home/home.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/vendor/ie8-support.js"></script>
    <![endif]-->
</head>
<body>
<div class="main">
    <div class="main-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Hello</div>
            </div>
            <div class="panel-body" style="display: none">
                <form data-parsley-validate>
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" required maxlength="20">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="age">Age</label>
                        <input type="number" step="1" min="0" max="100" id="age" name="age" class="form-control"
                               required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="user-select-label">Type</label>
                        <div id="user-select"></div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Confirm</button>
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/vendor/vendor.js"></script>
<script src="js/common/common.js"></script>
<script src="js/home/home.js"></script>
</body>
</html>