<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bind</title>

    <% for (chunk in htmlWebpackPlugin.files.chunks) { %><% if (htmlWebpackPlugin.files.chunks[chunk].css.length) { %>
    <link href="<%=(htmlWebpackPlugin.files.chunks[chunk].css[0] + '?v=' + new Date().getTime())%>" rel="stylesheet">
    <% }} %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="app" class="container-fluid">
    <breadcrumb v-bind:previous="[{name:'Home', href:'../index.html'}]"></breadcrumb>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"><strong>Data bind</strong></div>
        </div>
        <div class="panel-body">
            <div class="form row">
                <div class="form-group clearfix">
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control"
                               placeholder="Please input something"
                               v-model="text">
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-md-4">
                        <label class="control-label">Data bind:</label>
                        <div class="alert gray-bordered">{{text || '&nbsp;'}}</div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-md-4">
                        <label class="control-label">Computed bind:</label>
                        <input type="text"
                               class="form-control"
                               v-model="textInverse"
                               placeholder="Please input something inverse">
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-md-4">
                        <label class="control-label">Not refresh computed: </label>
                        <div class="alert gray-bordered">{{noRefresh || '&nbsp;'}}</div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-md-4">
                        <label class="control-label">Refresh computed: </label>
                        <div class="alert gray-bordered">{{refresh || '&nbsp;'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-bind:class="['panel', 'panel-' + panelColor]">
        <div class="panel-heading">
            <div class="panel-title"><strong>Class bind and Watched</strong></div>
        </div>
        <div class="panel-body">
            <div class="form row">
                <div class="form-group clearfix">
                    <div class="col-md-4">
                        <label>
                            <input type="radio" v-model="color" value="info">
                            <i class="color-box info"></i>
                        </label>

                        <label>
                            <input type="radio" v-model="color" value="warning">
                            <i class="color-box warning"></i>
                        </label>

                        <label>
                            <input type="radio" v-model="color" value="danger">
                            <i class="color-box danger"></i>
                        </label>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-md-2">
                        <div v-bind:class="['alert', 'alert-' + color]">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% for (chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%=(htmlWebpackPlugin.files.chunks[chunk].entry + '?v=' + new Date().getTime())%>"></script>
<% } %>

<script>
    bind.index();
</script>
</body>
</html>