<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="robots" content="index, follow">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <title>Bind</title>
</head>

<body>
  <div id="app" role="main" app:name="bind.index">
    <header>
      <breadcrumb :previous="[{name:'Home', href:'/www/'}]"></breadcrumb>
    </header>
    <main class="container">
      <div class="my-4">
        <div class="card card-primary card-inverse">
          <div class="card-header">
            <strong>Data bind</strong>
          </div>
          <div class="card-body">
            <div class="form">
              <div class="form-group">
                <div class="col-4">
                  <input type="text" class="form-control" placeholder="Please input something" v-model="text">
                </div>
              </div>
              <div class="col-4">
                <label class="control-label">Data bind:</label>
                <div class="alert alert-sm gray-bordered">{{ text || '&nbsp' }}</div>
              </div>
              <div class="form-group clearfix">
                <div class="col-md-4">
                  <label class="control-label">Computed bind:</label>
                  <input type="text" class="form-control" v-model="textInverse"
                    placeholder="Please input something inverse">
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4">
                  <label class="control-label">Not refresh computed: </label>
                  <div class="alert alert-sm gray-bordered">{{ noRefresh || '&nbsp' }}</div>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4">
                  <label class="control-label">Refresh computed: </label>
                  <div class="alert alert-sm gray-bordered">{{ refresh || '&nbsp' }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-4">
        <div class="card">
          <div :class="['card-header', 'bg-' + panelColor, 'text-white']">
            <strong>Class bind and Watched</strong>
          </div>
          <div class="card-body">
            <div class="form">
              <div class="row form-group">
                <div class="col-4">
                  <label>
                    <input type="radio" v-model="color" value="info">
                    <i class="color-box info"></i>
                  </label>
                  <label>
                    <input type="radio" v-model="color" value="warning">
                    <i class="color-box warning"></i>
                  </label>
                  <label>
                    <input type="radio" v-model="color" value="danger">
                    <i class="color-box danger"></i>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <div :class="['alert', 'alert-sm', 'alert-' + color]">&nbsp</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
